Versión del paquete
---------------------- ---------
aiohttp 3.8.5
señal aio 1.3.1
tipos anotados 0.5.0
Anyio 3.7.1
asgiref 3.6.0
tokens 2.2.1
tiempo de espera asíncrono 4.0.3
atributos 23.1.0
retroceso 0.2.0
intermitente 1.6.2
felicidad 0.7.10
catálogo 2.0.9
certificado 2023.7.22
normalizador de conjunto de caracteres 3.2.0
haga clic en 8.1.7
colorama 0.4.6
comunicación 0.1.3
confección 0.1.1
contorno 1.1.0
ciclador 0.11.0
cimem 2.0.7
conjuntos de datos 2.14.4
depuración 1.6.7
decorador 5.1.1
eneldo 0.3.7
Django 4.2.1
et-xmlfile 1.1.0
ejecutando 1.2.0
fastapi 0.103.0
bloqueo de archivos 3.12.2
Matraz 2.3.3
herramientas de fuentes 4.40.0
lista congelada 1.4.0
fsspec 2023.6.0
verde 2.0.2
h11 0.14.0
abrazando cara-hub 0.16.4
IDNA 3.4
iniconfig 2.0.0
ipykernel 6.22.0
IPython 8.12.0
es peligroso 2.1.2
Jedi 0.18.2
Jinja2 3.1.2
biblioteca de trabajo 1.3.2
jupyter_client 8.2.0
jupyter_core 5.3.0
kiwisolver 1.4.4
códigos de idioma 3.3.0
MarkupSafe 2.1.3
matplotlib 3.7.1
matplotlib-en línea 0.1.6
multidict 6.0.4
multiproceso 0.70.15
murmurhash 1.0.9
conector-mysql-python 8.0.33
nido-asincio 1.5.6
nltk 3.8.1
numeroso 1.24.3
openpyxl 3.1.2
orjson 3.9.7
embalaje 23.1
pandas 2.0.2
parso 0.8.3
patético 0.10.2
compartir pepinillo 0.7.5
Almohada 9.5.0
pipa 22.3.1
directorios de plataforma 3.2.0
enchufado 1.0.0
presionado 3.0.8
kit de herramientas rápidas 3.0.38
psutil 5.9.5
psicopg2 2.9.6
evaluación pura 0.2.2
py4j 0.10.9.7
pyarrow 12.0.1
Pydantic 2.3.0
pydantic_core 2.6.3
pigmentos 2.15.0
PyMySQL 1.1.0
pyparsing 3.1.0
pyspark 3.4.1
Pytest 7.3.1
python-dateutil 2.8.2
Python-multiparte 0.0.6
Pytz 2023.3
pywin32 306
PyYAML 6.0.1
Pyzmq 25.0.2
expresión regular 2023.8.8
solicitudes 2.31.0
scikit-aprende 1.3.0
scipy 1.10.1
nacido en el mar 0.12.2
herramientas de configuración 65.5.0
seis 1.16.0
sklearn 0.0.post7
apertura inteligente 6.3.0
olfatear 1.3.0
espacioso 3.6.1
legado espacial 3.0.12
registradores espaciales 1.0.4
SQLAlquimia 2.0.17
SQLparse 0.4.4
srsly 2.4.7
datos de pila 0.6.2
estrellaleta 0.27.0
estadísticas 0.1.2a0
bloque de texto 0.17.1
delgada 8.1.12
threadpoolctl 3.2.0
tornado 6.2
tqdm 4.66.1
rasgos 5.9.0
mecanografíe 0.9.0
extensiones_de_tipificación 4.7.1
datos tz 2023.3
urllib3 2.0.4
uvicornio 0.23.2
wasabi 1.1.2
ancho 0.2.6
Werkzeug 2.3.7
xhash 3.3.0
año 1.9.2
